
/* resetting the defaults and setting the height of the window to be the entire height of the viewport */

body{
    background-color: #FFF7EE;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Arimo', sans-serif;
}

/* settign the main container as a flexbox to lay out the header, the footer and the chat area */

.main-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* setting the header container as a flexbox container */

.header-container{
    padding: 0 6px 0 10px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    box-shadow: 4px 4px 8px lightgray;
}

/* styling the images */

.logo{
    width: 48%;
}

.tagline{
    width: 40%;
    padding-bottom: 5px;
    margin-left: 55px;
}

.social{
    padding-top: 10px;
    width: 18px;
    height: 18px;
}

/* styling the rest of the header elements */

#cars{
    font-size: 0.6em;
    margin: 5px;
    margin-left: 20px;;
    width: 90px;
    text-align: center;
}

#text{
    font-size: 1.7em;
    margin: 0;
    color: #6CB4FD;
    align-self: flex-end;
}

#not-bold-heading{
    font-weight: 400;
    font-size: 20px;
}

/* styling the chat area */

.content{
    border: 1px solid lightgray;
    border-radius: 10px 10px 0 0;
    margin: 0 6px;
    margin-top: 10px;
    padding-bottom: 30px;
    height: 77vh;
    justify-self: flex-start;
    background-color: white;
}

p{
    margin: 5px 0;
}

/* the text above the chat text */

.dummy{
    font-size: 14px;
    font-weight: 700;
    color: #555555;
    padding: 0 5px;
}

/* the chat text */

ul{
    list-style-type: none;
    margin: 0;
}

#chat{
    font-family: 'Arimo', sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    padding: 3px 8px;
}
/* make every odd member red in color and add a content string before it */
li:nth-child(odd)::before{
    content: "Stranger: ";
    color: red;
    font-weight: 700;
}
/* 
make every even member blue  */

li:nth-child(even)::before{
    content: "You: ";
    color: blue;
    font-weight: 700;
}

/* styling the footer */

.footer{
    display: flex;
    justify-content: space-between;
    margin: 0 6px;
}

/* the input field */

#add{
    width: 90vw;
    margin: 0 4px;
    height: 7.3em;
    border: 1px solid lightgray; 
}

/* styling the buttons */

button{
    background-color: white;
    border: 1px solid lightgray;
}

#end{
    flex-basis: 8em;
    height: 7.6em;
}

#submit{
    flex-basis: 8em;
    height: 7.6em;
}

.light{
    color: #6CB4FD;
}

/* the button that appears when u hit escape */

#newtext{
    font-size: 12px;
    font-weight: 700;
    color: #555555;
}

#newtext::before{
    content: "";
}

#endButton::before{
    content: "";
}

/* media queries to handle different breakpoints */


@media only screen and (max-width: 750px) {
    .header-container{
        align-items: center;
        height: 7vh;
        margin-bottom: 0;
    }
    .content{
        margin-top: 0;
    }
    .tagline{
        margin-left: 20px;
    }
    .social{
        display: none;
        position: absolute;
    }
    #text{
        position: absolute;
        display: none;
    }
    
    .content{
        border-radius: 5px 5px 0 0;
        margin: 0 4px;
        padding: 15px 0;

    }
    .footer{
        margin: 0 4px;
    }
    #end{
        height: 6em;
        flex-basis: 6em;
    }
    #submit{
        height: 6em;
        flex-basis: 6em;
    }
    #add{
        height: 5.7em;
        margin: 0 2px;
    }
  }



@media only screen and (max-width: 475px){
    .logo{
        width: 50%;
    }

}

@media only screen and (max-width: 362px) {
    #end{
        height: 4.2em;
        flex-basis: 4em;
        font-size: 0.8em;
        padding: 5px;
    }
    #submit{
        height: 4.2em;
        flex-basis: 4em;
        font-size: 0.8em;
        padding: 5px;
    }
    #add{
        height: 3.7em;
        margin: 0 2px;
    }
    .light{
        font-size: 0.7em;
    }
    .footer{
        margin: 2px;
    }
    .content{

        padding-top: 5px;
        font-size: 0.6em;
        padding-bottom: 40px;
        margin: 3px 2px 0 2px;
    }
}

